POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres

BACKEND_BD=backend
BACKEND_SEN=backend
BACKEND_USU=backend

KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BD=keycloak
KEYCLOAK_SEN=keycloak
KEYCLOAK_USU=keycloak
