#### Exibir informações sensíveis
DEBUG_CONFIG=false

# Para configuração principal do postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=""
POSTGRES_URL=localhost
POSTGRES_USER=postgres

# Para ativação do backend
BACKEND_BD=backend
BACKEND_SEN=""
BACKEND_USU=backend

# Ativação do keycloak
KEYCLOAK_BD=keycloak
KEYCLOAK_SEN=""
KEYCLOAK_USU=keycloak

KC_BOOTSTRAP_ADMIN_PASSWORD=""
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_HOSTNAME=localhost
KC_HTTP_ENABLED=true
KC_LOG_LEVEL=INFO
KC_ISSUER_URI=http://localhost:8080/realms/corporativo

# Para ativação do Repositório de Objetos (S3 - Seaweedfs)
S3_ADMIN_ACCESS_KEY=s3_access_key
S3_ADMIN_SECRET_KEY=""
S3_BD=seaweedfs
S3_BUCKET=seagri-fotos
S3_ENDPOINT=http://localhost:8333
S3_SEN=""
S3_USU=seaweedfs

# Credenciais LDAP GDF
LDAP_BIND_DN=ldap@governo.gdfnet.df
LDAP_BIND_PASSWORD=""
LDAP_URL=ldap://governo.gdfnet.df:3268

# Credenciais para o ambiente de biometria
BIOMETRIA_URL=http://localhost:8000
BIOMETRIA_USUARIO=appbiometria
CUDA_VISIBLE_DEVICES=-1
TF_CPP_MIN_LOG_LEVEL=2
# Para evitar warnings de otimização
TF_ENABLE_ONEDNN_OPTS=0

# Credenciais Google Social Login
GOOGLE_CLIENT_ID="1099489956177-mdqcr5klq0vkd19ppsdc44c7gbd775un.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET=""

# senha do usuário de testes
ABC_SEN=""

#CACHE
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_PORT=6379

# ==========================================
# Frontend (React + Vite)
# ==========================================
FRONTEND_WEB_PORT=
VITE_API_BASE_URL=
VITE_KEYCLOAK_URL=


# ==========================================
# Configurações de CORS (Origens Permitidas)
# ==========================================
# Para múltiplos endereços em dev ou prod, basta separar por vírgula
CORS_ALLOWED_ORIGINS=http://localhost:5173