#### Exibir informações sensíveis
DEBUG_CONFIG=

# Para configuração principal do postgres
POSTGRES_URL=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=

# Para ativação do backend
BACKEND_BD=
BACKEND_SEN=
BACKEND_USU=

# Ativação do keycloak
KC_BOOTSTRAP_ADMIN_PASSWORD=
KC_BOOTSTRAP_ADMIN_USERNAME=
KEYCLOAK_BD=
KEYCLOAK_SEN=
KEYCLOAK_USU=

KC_HOSTNAME=
KC_HTTP_ENABLED=
KC_LOG_LEVEL=

# Para ativação do Repositório de Objetos (S3 - Seaweedfs)
S3_BD=
S3_SEN=
S3_USU=
S3_ADMIN_ACCESS_KEY=
S3_ADMIN_SECRET_KEY=

# Credenciais LDAP GDF
LDAP_BIND_DN=
LDAP_BIND_PASSWORD=
LDAP_URL=

# Credenciais Google Social Login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# senha do usuário de testes
ABC_SEN=
