[submodule "postgres"]
	path = postgres
	url = git@github.com:ffrazao/ppp-postgres.git
[submodule "backend"]
	path = backend
	url = git@github.com:ffrazao/ppp_backend.git
[submodule "biometria"]
	path = biometria
	url = git@github.com:ffrazao/ppp_biometria.git
[submodule "keycloak"]
	path = keycloak
	url = git@github.com:ffrazao/ppp_keycloak.git
[submodule "frontend-web"]
	path = frontend-web
	url = git@github.com:ffrazao/ppp_frontend-web.git
[submodule "seaweedfs"]
	path = seaweedfs
	url = git@github.com:ffrazao/ppp_seaweedfs.git
