events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;

    # Bloco 1: Redireciona HTTP (80) para HTTPS (443)
    server {
        listen 80;
        server_name ${APP_DOMAIN};
        return 301 https://$host$request_uri;
    }

    # Bloco 2: O Servidor HTTPS Principal
    server {
        listen 443 ssl;
        server_name ${APP_DOMAIN};

        # Aponta para os certificados gerados pelo mkcert
        ssl_certificate     /etc/nginx/certs/ip-cert.pem;
        ssl_certificate_key /etc/nginx/certs/ip-key.pem;

        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;

        # Headers de Proxy essenciais para o HTTPS funcionar no Keycloak e Spring
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;

        location / {
            proxy_pass http://frontend-web:5173/;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }

        location /api/ {
            proxy_pass http://backend:8081/api/;
        }

        location /realms/ {
            proxy_pass http://iam:8080/realms/;

            proxy_connect_timeout 300s;
            proxy_send_timeout    300s;
            proxy_read_timeout    300s;
        }

        location /resources/ {
            proxy_pass http://iam:8080/resources/;
        }
    }
}
